################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KrolOleg_CG_2_1/obj/Release
Lab2_Split_to_RGB/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
.vs/CG_lab_2_1/v17/.suo
.vs/CG_lab_2_1/FileContentIndex/cba420f7-5e33-454a-8cbc-f46120373102.vsidx
.vs/CG_lab_2_1/FileContentIndex/a997a442-fe76-45f3-994f-a0737b78b7ae.vsidx
.vs/CG_lab_2_1/FileContentIndex/85711899-415d-48fb-a99a-f36d20edc3c0.vsidx
.vs/CG_lab_2_1/FileContentIndex/40501b04-744f-40c8-82e3-1c7b54ed9e35.vsidx
.vs/CG_lab_2_1/FileContentIndex/201295ab-d53d-4864-8b54-8c0cd6c539a3.vsidx
*.cache
Lab2_Split_to_RGB/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
.vs/CG_lab_2_1/v17/.suo
.vs/CG_lab_2_1/FileContentIndex/cba420f7-5e33-454a-8cbc-f46120373102.vsidx
.vs/CG_lab_2_1/FileContentIndex/a997a442-fe76-45f3-994f-a0737b78b7ae.vsidx
.vs/CG_lab_2_1/v17/.suo
*.cache
*.cache
Lab2_Split_to_RGB/obj/Release/Lab2_Split_to_RGB.csproj.GenerateResource.cache
Lab2_Split_to_RGB/obj/Release/Lab2_Split_to_RGB.csproj.FileListAbsolute.txt
Lab2_Split_to_RGB/obj/Release/Lab2_Split_to_RGB.csproj.AssemblyReference.cache
Lab2_Split_to_RGB/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
KrolOleg_CG_2_1/bin/Release/KrolOleg_CG_2_1.pdb
KrolOleg_CG_2_1/bin/Release/KrolOleg_CG_2_1.exe.config
KrolOleg_CG_2_1/bin/Release/KrolOleg_CG_2_1.exe
.vs/CG_lab_2_1/v16/.suo
